<link href="https://fonts.googleapis.com/css?family=Ultra" rel="stylesheet">
<h1 class="quotesheader">My Quotes</h1>

<hr>

<div class="container">
  <div class="row">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>

  <div *ngFor='let quote of Quotes;let i = index'>
      <h4  id="{{i}}" appStrikethrough>{{quote.name}} due on {{quote.completeDate|date|uppercase}}</h4>
      
      <!-- Toggle Button -->
      <div class="col-md-3 col-sm-3 col-xs-6">  <a href="#" class="btn btn-sm animated-button thar-one" (click)='toogleDetails(i)'>TOOGLE</a> </div>
      
      <div class="row" *ngIf="quote.showDescription">
        <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
      </div>
  </div>
</div>
<p *ngIf='Quotes.length> 5'>You have too many Quotes in the code</p>

